{% extends "app1/base.html" %}

{% block content %}

<h1 class="site-heading alert alert-dark text-center text-black d-none d-lg-block p-3 mb-0">
    <i class="fa fa-file-text" aria-hidden="true"></i>      
    <span class="site-heading-lower text-muted">Ingresar</span>        
</h1> 

{% if messages %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissable fade show text-center" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button> 
    <strong>Mensaje: </strong>{{message}}
</div>
{% endfor %}
{% endif %}

<div class="alert alert-info mt-3 d-flex p-5 justify-content-center">
    <div class="car car-body">
        <form action="{{login}}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_usuario">Usuario:</label>
            </div>
            <div class="form-group">
              <input type="text" name="usuario" maxlength="10" required id="id_usuario" placeholder="usuario" value="{{fLogin.usuario}}">
            </div>
            
            <div class="form-group justify-content-center">
                <label for="id_contrasena" class="justify-content-center">Contraseña:</label>
            </div>
            <div class="form-group justify-content-center">
                <input type="password" name="contrasena" maxlength="15" required id="id_contrasena" value="{{fLogin.contrasena}}">
            </div>
            
            <div class="form-group justify-content-center">
                <input type="submit" value="Ingresar" class="btn btn-success btn-block">
            </div>
        </form>
    </div>    
</div>

  {% endblock %}




<!-- <div class="container bg-success p-20px">
    <form action="#" method="post" class="form-group">
        {% csrf_token %}
        <div class="form-group">
            <h2>Ingrese sus credenciales</h2>
        </div>
        <div class="form-group">
        <tr class="form-control">
            <th><label for="id_usuario">Usuario:</label></th>
            <td><input type="text" name="usuario" maxlength="10" required id="id_usuario" placeholder="usuario" lue="#"></td>
        </tr>
        </div>
        <div class="form-group">
        <tr class="form-control">
            <th><label for="id_contrasena">Contraseña:</label></th>
            <td><input type="password" name="contrasena" maxlength="10" required id="id_contrasena" value="#"></td>
        </tr>
        </div>
        <div class="form-group">
        <input type="submit" value="Ingresar">
        </div>
    </form>
</div> -->






